@import '../variables/variables';
/* -------------------------------- 

xImages

-------------------------------- */

.cd-wireframes {
    .cd-box {
        .lWire {
            width: 100%;
        }
    }
}

.cd-logo {
    width: 100px;
    height: 80px;
}