

.sidebar {
    position: relative;  
    width: 100%;  
}
.wrapper h3 {
    color: #fff;
    background-color: rgb(5, 49, 12);
    text-align: center;
    padding: 15px;   
    border: none; 
    border-radius: 5px;
    margin: 2%;
}
.design-selection,
.design-archives,
.zen-resources {
    position: relative;
    display: block;        
    }
}
.design-selection ul,
.design-archives ul,
.zen-resources ul {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 80%;
    margin-left: 6%;
    text-align: left;
    z-index: 1;
}
.design-selection li,
.design-archives li,
.zen-resources li {
    color: rgb(23, 24, 23);
    background-color: #ccc5c5;
    padding: 15px;
    text-decoration: none;
    display: block;
}
.design-selection li:hover,
.design-archives li:hover,
.zen-resources li:hover {
    background-color: rgb(19, 185, 61);
}
.design-selection:hover ul,
.design-archives:hover ul,
.zen-resources:hover ul {
    display: block;
}

@media (min-width: 50em) {
    .sidebar {
        display: inline-block;
        float: right; 
        width: 50%;
    }
    .wrapper {
        display: flex;
        flex-flow: row-reverse wrap;
    }
    .design-selection,
    .design-archives,
    .zen-resources {
        display: inline-block;
    }
    .design-selection ul,
    .design-archives ul,
    .zen-resources ul {
        width: 110px;
        margin-left: 1%;
        bottom: 60px;    
    }
    .design-selection li,
    .design-archives li,
    .zen-resources li {
    padding: 10px;
    margin: 0 auto;
    }
    .wrapper h3 {
        padding: 25px;
        margin: 2% 5%;
    }
}
