@import '../variables/variables';
// navigation configuration
/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
    background-color: $color-2;
  }
  
  .cd-logo {
    /* logo box style */
    background-color: $color-1;
    width: 120px;
  
    @include MQ(M) {
      width: 180px;
    }
  }
  
  .cd-main-nav {
    /* main navigation background color - full screen on small devices */
    background: $color-2;
  
    li a {
      color: $color-5;
      border-color: lighten($color-2, 5%);
    }
  
    @include MQ(M) {
      li a {
        color: lighten($color-2, 40%);
  
        &.selected {
          color: $color-5;
          box-shadow: 0 2px 0 $color-1;
        }
  
        &:hover {
          color: $color-5;
        }
      }
    }
  }
  
  .cd-nav-trigger span {
    /* hamburger menu */
    background-color: $color-5;
  
    &::before,
    &::after {
      /* upper and lower lines */
      background-color: $color-5;
    }
  }
  
  .nav-is-visible .cd-nav-trigger span {
    /* hide line in the center on mobile when nav is visible */
    background-color: rgba($color-5, 0);
  
    &::before,
    &::after {
      /* preserve visibility of upper and lower lines - close icon */
      background-color: rgba($color-5, 1);
    }
  }
  
  .cd-download {
    /* download button top-right visible on big devices */
    background-color: lighten($color-2, 10%);
  
    .no-touch &:hover {
      background-color: lighten($color-2, 15%);
    }
  
    span {
      /* tooltip */
      background: $color-1;
      color: $color-5;
  
      &::before {
        /* right arrow color */
        border-color: $color-1;
      }
    }
  }

  /*.sidebar {
    position: relative;  
    width: 100%;  
}
.wrapper h3 {
    color: #fff;
    background-color: rgb(5, 49, 12);
    text-align: center;
    padding: 15px;   
    border: none; 
    border-radius: 5px;
    margin: 2%;
}
.design-selection,
.design-archives,
.zen-resources {
    position: relative;
    display: block;        
    }
}
.design-selection ul,
.design-archives ul,
.zen-resources ul {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 80%;
    margin-left: 6%;
    text-align: left;
    z-index: 1;
}
.design-selection li,
.design-archives li,
.zen-resources li {
    color: rgb(23, 24, 23);
    background-color: #ccc5c5;
    padding: 15px;
    text-decoration: none;
    display: block;
}
.design-selection li:hover,
.design-archives li:hover,
.zen-resources li:hover {
    background-color: rgb(19, 185, 61);
}
.design-selection:hover ul,
.design-archives:hover ul,
.zen-resources:hover ul {
    display: block;
}
@media (min-width: 50em) {
    .sidebar {
        display: inline-block;
        float: right; 
        width: 50%;
    }
    .wrapper {
        display: flex;
        flex-flow: row-reverse wrap;
    }
    .design-selection,
    .design-archives,
    .zen-resources {
        display: inline-block;
    }
    .design-selection ul,
    .design-archives ul,
    .zen-resources ul {
        width: 110px;
        margin-left: 1%;
        bottom: 60px;    
    }
    .design-selection li,
    .design-archives li,
    .zen-resources li {
    padding: 10px;
    margin: 0 auto;
    }
    .wrapper h3 {
        padding: 25px;
        margin: 2% 5%;
    }
}*/