// variable configuration

// color palette - these colors will be the color swatches 
// of the Colors section
$color-1: #E6F0D1; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #7AC247; // Red
$color-4: #6F6B52; // light grey
$color-5: #422D00; // white
// additional colors
$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;