// variable configuration

// color palette - these colors will be the color swatches 
// of the Colors section
$color-1: #E6F0D1; // Greenish-tan
$color-2: #19191a; // Black
$color-3: #7AC247; // Earth Green
$color-4: #6F6B52; // light grey
$color-5: #422D00; // Brown
// additional colors
$success: #6fce72; // green
$alert: $color-3; // Earth Green

// fonts
$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;

